.about {
    background-color: lighten($black, 80);
    // background-color: rgb(202, 231, 240);
    display: flex;
    float: left;
    flex-direction: column;
    h3 {
        padding-left: 1rem;
        padding-top: 0.5rem;
        @include font-style(1rem);
        color: lighten($black, 50);
        font-weight: lighter;
    }
    h1 {
        padding-left: 1rem;
        @include font-style(1.5rem);
    }
    h5 {
        font-family: 'Courgette', cursive;
        font-size: 1rem;
        font-weight: ligher;
        color: lighten($black, 40);
    }
    .inf {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    }
    p {
        padding: 1rem;
    }
    .row {
        display: flex;
        //flex-direction: column;
        padding: 2rem;
        // justify-content: space-between;
        justify-items: left;
        .left {
            padding: 1rem;
            flex: 1 1 30%;
            //background-color: red;
        }
        .right {
            flex: 1 1 70%;
            //background-color: green;
        }
        .btn {
            display: inline-block;
            padding: 1rem;
            margin-right: 1rem;
            @include font-style(1rem);
            border: solid 2px lighten($black, 65);
            color: lighten($blue, 40);
            background-color: lightslategrey;
            &:hover {
                color: $black;
            }
        }
    }
}