.about {
    padding: 2rem;
    background: lighten(rgb(236, 241, 161), 10);
    // background-color: rgb(202, 231, 240);
    // background-image: url('/css/image/moutain.jpg');
    // background-size: cover;
    // background-position: center;
    display: flex;
    float: left;
    flex-direction: column;
    h3 {
        @include font-style-h3(lighten($black, 50));
    }
    h1 {
        @include font-style-h1($black);
    }
    h5 {
        @include font-text(lighten($black, 20));
        line-height: 2rem;
    }
    .inf {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    }
    p {
        padding: 1rem;
    }
    .row {
        display: flex;
        //flex-direction: column;
        padding-right: 2rem;
        // justify-content: space-between;
        justify-items: left;
        .left {
            padding: 1rem;
            flex: 1 1 30%;
            //background-color: red;
        }
        .right {
            flex: 1 1 70%;
            //background-color: green;
        }
        .btn {
            cursor: pointer;
            display: inline-block;
            padding: 1rem;
            margin-right: 1rem;
            @include font-style(1rem);
            border: solid 2px lighten($black, 65);
            color: lighten($blue, 40);
            background-color: lightslategrey;
            &:hover {
                color: $black;
            }
        }
    }
}