//start for header
header {
    background-image: url('./image/bgHeader1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    @include item-center;
    flex-direction: column;
    img {
        border: 6px solid lighten($black, 50);
        border-radius: 50%;
    }
    h1 {
        @include font-style(3rem);
        font-weight: lighter;
        color: goldenrod;
    }
    h3 {
        font-family: 'Pinyon Script', cursive;
        font-size: 2rem;
        font-weight: ligher;
        color: whitesmoke;
    }
}