@mixin item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-style($font-size) {
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    // margin: 0 auto;
    font-size: $font-size;
}

// tobe deleted
@mixin font-style-h1 ($color) {
    color: $color;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

@mixin font-style-h3 ($color) {
    color: $color;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
}

@mixin font-text ($color) {
    color: $color;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    line-height: 1rem;
    padding: 1rem;
}